---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: All
IndentCaseLabels: true

BreakBeforeBraces: Allman
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SeparateDefinitionBlocks: Always

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: Never

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
Cpp11BracedListStyle: false

SortIncludes: Never
SortUsingDeclarations: Never
FixNamespaceComments: false
ColumnLimit: 100
...
