[submodule "dep/fmt"]
	path = dep/fmt
	url = https://github.com/fmtlib/fmt/
[submodule "dep/llvm-project"]
	path = dep/llvm-project
	url = https://github.com/llvm/llvm-project/
[submodule "dep/nlohmann/json"]
	path = dep/nlohmann/json
	url = https://github.com/nlohmann/json/
[submodule "dep/termcolor"]
	path = dep/termcolor
	url = https://github.com/ikalnytskyi/termcolor/
